body {
	font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	background-color: black;
	color: white;
	-webkit-font-smoothing: antialiased;
}
h1 { font-size: 500%; }

#b_brand:after { content: ">"; }

a, a:visited { color: blue; text-decoration: none; }


